{
	"default": {
		"REACT_APP_ROUTER_BASE": "/path/to/app",
		"REACT_APP_HTTP_BASE": "/path/to/app",
		"REACT_APP_VERSION": "0.1.0",
		"REACT_APP_GITHUB_URL": "https://github.com/username/repository",
		"REACT_APP_DISCORD_URL": "https://discord.gg/invite",
		"REACT_APP_CHANGELOG_URL": "https://github.com/username/repository/blob/master/CHANGELOG.md"
	},
	"development": {
		"REACT_APP_PAGE_TITLE": "Development Environment",
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "GTM-ABCDEF3"
	},
	"staging": {
		"REACT_APP_PAGE_TITLE": "Staging Environment",
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "UA-ABCDEF2"
	},
	"production": {
		"REACT_APP_PAGE_TITLE": "Production Environment",
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "UA-ABCDEF1"
	}
}