{
	"development": {
		"REACT_APP_PAGE_TITLE": "Development Environment",
		"REACT_APP_GOOGLE_ANALYTICS_ID": "UA-123456789-1"
	},
	"production": {
		"REACT_APP_PAGE_TITLE": "Production Environment",
		"REACT_APP_GOOGLE_ANALYTICS_ID": "UA-123456789-1"
	}
}