{
	"default": {
		"REACT_APP_ROUTER_BASE": "/path/to/app",
		"REACT_APP_HTTP_BASE": "/path/to/app",
		"REACT_APP_REDIRECT_URL": "http://domain.com",
		"REACT_APP_VERSION": "0.1.0",
		"REACT_APP_GITHUB_URL": "https://github.com/username/repository",
		"REACT_APP_DISCORD_URL": "https://discord.gg/invite",
		"REACT_APP_AUTHOR_URL": "https://yourwebsite.com",
		"REACT_APP_CHANGELOG_URL": "https://github.com/username/repository/blob/master/CHANGELOG.md",
		"REACT_APP_TWITCH_API_CLIENT_ID": "your_api_client_id",
		"REACT_APP_CASH_DONATE_LINK": "https://cash.app/$username",
		"REACT_APP_PAYPAL_DONATE_LINK": "https://paypal.me/username",
		"REACT_APP_STREAMLABS_DONATE_LINK": "https://streamlabsurl.com",
		"REACT_APP_KOFI_DONATE_LINK": "https://ko-fi.com/username",
		"REACT_APP_PATREON_DONATE_LINK": "https://www.patreon.com/username",
		"REACT_APP_PAYPAY_DONATE_LINK": "https://qr.paypay.ne.jp/paypay_code",
		"REACT_APP_PAYPAY_DONATE_ID": "your_paypay_id"
	},
	"development": {
		"REACT_APP_PAGE_TITLE": "Development Environment",
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "GTM-ABCDEF3",
		"REACT_APP_ENV": "development"
	},
	"staging": {
		"REACT_APP_PAGE_TITLE": "Staging Environment",
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "GTM-ABCDEF2",
		"REACT_APP_ENV": "staging"
	},
	"production": {
		"REACT_APP_PAGE_TITLE": "Production Environment",
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "GTM-ABCDEF1",
		"REACT_APP_ENV": "production"
	},
	"nonssl": {
		"REACT_APP_GOOGLE_TAG_MANAGER_ID": "GTM-ABCDEF4"
	}
}