#settings-container {
	height: 100%;
	margin: 0;
	background: @placeholderInnerBackground;
	overflow-y: scroll;
}

#settings-container > .row {
	height: 100%;
}

#settings-container #settings-sidebar {
	height: 100%;
	padding: 0;
	margin: 0;

	position: fixed;
}

#settings-container #settings-sidebar #settings-menu {
	margin: 0;
	box-shadow: none;
	border: 0;
	width: 100%;
}

#settings-container #settings-sidebar #settings-menu .item {
	background: @placeholderInnerBackground;
	color: @playerDetailSectionDataTitleText;
	border-radius: 0;
}

#settings-container #settings-sidebar #settings-menu .item.active {
	background-color: @toggleBackground;
}

#settings-container #settings-sidebar #settings-menu .item:before {
	background: @playerTableRowBackground;
}

#settings-container #settings-sidebar #settings-menu .item:not(.active):hover {
	background-color: @contextMenuShadow;
}

#settings-container #settings-screen {
	background: @contextMenuBackground;
	box-shadow: -1px 0 0 0 @borderInnerShadow;
	position: absolute;
	right: 0;
	height: 100%;
}

#settings-container #settings-screen .ui.form button.save {
	background: @borderOuter;
}

#settings-container #settings-screen .section-container {
	margin-bottom: 1.5rem;
}

#settings-container #settings-screen .section-container:nth-child(3) {
	margin-top: -30px;
}

#settings-container #settings-screen .section-container > h2 {
	margin-bottom: 0;
	color: @importantText;
}

#settings-container #settings-screen .section-container .field label,
#settings-container #settings-screen .section-container .field .ui.toggle.checkbox input:checked ~ label {
	color: @playerDetailSectionTitleText !important;
}

#settings-container #settings-screen .section-container .field .ui.toggle.checkbox input ~ label:before {
	background: @playerTableRowBackground !important;
}

#settings-container #settings-screen .section-container .field .ui.toggle.checkbox input ~ label:hover:before {
	background: @rowAndLinkHoverBackground !important;
}

#settings-container #settings-screen .section-container .field .ui.toggle.checkbox input:checked ~ label:before {
	background: @importantTextRGBA65 !important;
}

#settings-container #settings-screen .section-container .field .ui.dropdown,
#settings-container #settings-screen .section-container .field textarea {
	background: @footerActiveLinkBackground;
}

#settings-container #settings-screen .section-container .field textarea {
	color: @playerDetailSectionTitleText;
	cursor: text;
}

#settings-container #settings-screen .section-container .field .ui.dropdown a.ui.label {
	background: @borderOuterShadow;
}

#settings-container #settings-screen .section-container .field .ui.dropdown input.search,
#settings-container #settings-screen .section-container .field .ui.dropdown div.text {
	color: @playerDetailSectionTitleText;
}

#settings-container #settings-screen .section-container .field > .ui-slider {
	background: @footerActiveLinkBackground;
	border: 0;
}

#settings-container #settings-screen .section-container .field > .ui-slider > .ui-widget-header {
	background: @borderOuterShadow;
}
#settings-container #settings-screen .section-container .field > .ui-slider > .ui-slider-handle {
	border-radius: 50%;
}

#settings-container #settings-screen .section-container .field > .ui-slider > .ui-slider-handle.ui-state-active {
	background: @borderOuter;
}

.clear {
	clear: both;
}