@borderOuter: #cfc36e;
@borderOuterShadow: hsla(53, 50%, 62%, .5);
@borderOuterGlow: rgba(0, 0, 0, 0.5);
@borderInner: hsla(0, 0%, 100%, 0.1);
@borderInnerShadow: #222;
@borderInnerGlow: rgba(0, 0, 0, 0.4);

@toggleBackground: #554121;
@toggleShadow: rgba(0, 0, 0, 0.5);
@placeholderInnerBackground: #1e1e1e;
@placeholderInsetBorder: hsla(53, 50%, 62%, 0.5);

@contextMenuBackground: #282828;
@contextMenuItemBackground: #eee1c5;
@contextMenuShadow: rgba(0, 0, 0, 0.6);

@headerSubtitleText: hsla(0, 0%, 100%, 0.5);
@importantText: #bca98a;
@importantTextRGB: rgb(188, 169, 138);
@importantTextRGBA65: rgba(188, 169, 138, 0.65);
@headerAndLinkText: hsla(0, 0%, 100%, 0.7);

@playerTableRowText: hsla(0, 0%, 100%, 0.4);
@playerTableRowBorderTop: hsla(0, 0%, 100%, 0.05);
@playerTableRowBackground: rgba(255, 255, 255, 0.05);
@playerTableActiveRowBackground: rgba(255, 255, 255, 0.15);
@playerTableHeaderRowBackground: rgba(255, 255, 255, 0.03);

@playerDetailSectionTitleText: rgba(255, 255, 255, 0.7);
@playerDetailSectionDataTitleText: rgba(255, 255, 255, 0.6);
@playerDetailSectionDataValueText: rgba(255, 255, 255, 0.5);

@gridItemBackground: rgba(0, 0, 0, 0.2);

@footerLinkInnerShadow: hsla(0, 0%, 100%, 0.07);
@footerLinkOuterShadow: rgba(0, 0, 0, 0.2);
@footerActiveLinkBackground: rgba(255, 255, 255, 0.2);

@rowAndLinkHoverBackground: rgba(255, 255, 255, 0.07);